
<footer class="my-4 border-top">
    <div class="container-xxl d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 <a href="{{ "/" | prepend: site.baseurl }}" title="Go to the homepage of {{ site.title }}">{{ site.title }}</a></span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://twitter.com/LocalGovDigital" title="Visit LocalGov Digital on Twitter"><i class="bi-twitter"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://localgovdigital.slack.com/" title="LocalGov Digital Slack"><i class="bi-slack"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://localgovdigital.eventbrite.co.uk" title="See the latest LocalGov Digital events at Eventbrite"><i class="bi-calendar-event"></i></a></li>
        </ul>
    </div>
</footer>
